
cmd/debug/client.exe
cmd/debug/plugin_csharp/plugin_kv/Google.Protobuf.dll
cmd/debug/plugin_csharp/plugin_kv/Grpc.Core.Api.dll
cmd/debug/plugin_csharp/plugin_kv/Grpc.Core.dll
cmd/debug/plugin_csharp/plugin_kv/Grpc.HealthCheck.dll
cmd/debug/plugin_csharp/plugin_kv/Grpc.Net.Client.dll
cmd/debug/plugin_csharp/plugin_kv/Grpc.Net.Common.dll
cmd/debug/plugin_csharp/plugin_kv/Microsoft.Extensions.Logging.Abstractions.dll
cmd/debug/plugin_csharp/plugin_kv/kv_plugin.deps.json
cmd/debug/plugin_csharp/plugin_kv/kv_plugin.dll
cmd/debug/plugin_csharp/plugin_kv/kv_plugin.exe
cmd/debug/plugin_csharp/plugin_kv/kv_plugin.pdb
cmd/debug/plugin_csharp/plugin_kv/kv_plugin.runtimeconfig.json
cmd/debug/plugin_csharp/plugin_kv/libPlugin.dll
cmd/debug/plugin_csharp/plugin_kv/libPlugin.pdb
cmd/debug/plugin_csharp/plugin_kv/runtimes/linux-arm64/native/libgrpc_csharp_ext.arm64.so
cmd/debug/plugin_csharp/plugin_kv/runtimes/linux-x64/native/libgrpc_csharp_ext.x64.so
cmd/debug/plugin_csharp/plugin_kv/runtimes/osx-x64/native/libgrpc_csharp_ext.x64.dylib
cmd/debug/plugin_csharp/plugin_kv/runtimes/win-x64/native/grpc_csharp_ext.x64.dll
cmd/debug/plugin_csharp/plugin_kv/runtimes/win-x86/native/grpc_csharp_ext.x86.dll
cmd/debug/server.exe
plugins_csharp/libPlugin/.vs/ProjectEvaluation/libplugin.metadata.v9.bin
plugins_csharp/libPlugin/.vs/ProjectEvaluation/libplugin.projects.v9.bin
plugins_csharp/libPlugin/.vs/ProjectEvaluation/libplugin.strings.v9.bin
plugins_csharp/libPlugin/.vs/libPlugin/DesignTimeBuild/.dtbcache.v2
plugins_csharp/libPlugin/.vs/libPlugin/FileContentIndex/6fa517cf-3918-4b65-b0be-6d0010aca101.vsidx
plugins_csharp/libPlugin/.vs/libPlugin/FileContentIndex/712584e8-e5f8-4b9d-b0ce-7ed12d7e85be.vsidx
plugins_csharp/libPlugin/.vs/libPlugin/FileContentIndex/b4dcf594-3e29-4ec8-9195-732981adb8b9.vsidx
plugins_csharp/libPlugin/.vs/libPlugin/FileContentIndex/bddc17ac-4adf-447f-9408-c577788d1f83.vsidx
plugins_csharp/libPlugin/.vs/libPlugin/FileContentIndex/f6866dcb-1348-4da4-b00f-19a08caa0d0d.vsidx
plugins_csharp/libPlugin/.vs/libPlugin/v17/.futdcache.v2
plugins_csharp/libPlugin/.vs/libPlugin/v17/.suo
plugins_csharp/kv_plugin/obj/Debug/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
plugins_csharp/kv_plugin/obj/Debug/apphost.exe
plugins_csharp/kv_plugin/obj/Debug/kv_plugin.AssemblyInfo.cs
plugins_csharp/kv_plugin/obj/Debug/kv_plugin.AssemblyInfoInputs.cache
plugins_csharp/kv_plugin/obj/Debug/kv_plugin.GeneratedMSBuildEditorConfig.editorconfig
plugins_csharp/kv_plugin/obj/Debug/kv_plugin.GlobalUsings.g.cs
plugins_csharp/kv_plugin/obj/Debug/kv_plugin.assets.cache
plugins_csharp/kv_plugin/obj/Debug/kv_plugin.csproj.AssemblyReference.cache
plugins_csharp/kv_plugin/obj/Debug/kv_plugin.csproj.CoreCompileInputs.cache
plugins_csharp/kv_plugin/obj/Debug/kv_plugin.csproj.FileListAbsolute.txt
plugins_csharp/kv_plugin/obj/Debug/kv_plugin.csproj.Up2Date
plugins_csharp/kv_plugin/obj/Debug/kv_plugin.dll
plugins_csharp/kv_plugin/obj/Debug/kv_plugin.genruntimeconfig.cache
plugins_csharp/kv_plugin/obj/Debug/kv_plugin.pdb
plugins_csharp/kv_plugin/obj/Debug/kv_plugin.sourcelink.json
plugins_csharp/kv_plugin/obj/Debug/ref/kv_plugin.dll
plugins_csharp/kv_plugin/obj/Debug/refint/kv_plugin.dll
plugins_csharp/kv_plugin/obj/kv_plugin.csproj.nuget.dgspec.json
plugins_csharp/kv_plugin/obj/kv_plugin.csproj.nuget.g.props
plugins_csharp/kv_plugin/obj/kv_plugin.csproj.nuget.g.targets
plugins_csharp/kv_plugin/obj/project.assets.json
plugins_csharp/kv_plugin/obj/project.nuget.cache
plugins_csharp/libPlugin/bin/Debug/netstandard2.1/libPlugin.deps.json
plugins_csharp/libPlugin/bin/Debug/netstandard2.1/libPlugin.dll
plugins_csharp/libPlugin/bin/Debug/netstandard2.1/libPlugin.pdb
plugins_csharp/.vs/libPlugin/DesignTimeBuild/.dtbcache.v2
plugins_csharp/.vs/libPlugin/FileContentIndex/f1213d1d-010b-4864-bb9f-d9fdbf70ca31.vsidx
plugins_csharp/.vs/libPlugin/v17/.suo
plugins_csharp/.vs/libPlugin/v17/DocumentLayout.backup.json
plugins_csharp/libPlugin/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
plugins_csharp/libPlugin/obj/Debug/netstandard2.1/3a52ce780950d4d9_health.protodep
plugins_csharp/libPlugin/obj/Debug/netstandard2.1/Health.cs
plugins_csharp/libPlugin/obj/Debug/netstandard2.1/HealthGrpc.cs
plugins_csharp/libPlugin/obj/Debug/netstandard2.1/Kv.cs
plugins_csharp/libPlugin/obj/Debug/netstandard2.1/KvGrpc.cs
plugins_csharp/libPlugin/obj/Debug/netstandard2.1/c7449a6d31735426_kv.protodep
plugins_csharp/libPlugin/obj/Debug/netstandard2.1/libPlugin.AssemblyInfo.cs
plugins_csharp/libPlugin/obj/Debug/netstandard2.1/libPlugin.AssemblyInfoInputs.cache
plugins_csharp/libPlugin/obj/Debug/netstandard2.1/libPlugin.GeneratedMSBuildEditorConfig.editorconfig
plugins_csharp/libPlugin/obj/Debug/netstandard2.1/libPlugin.assets.cache
plugins_csharp/libPlugin/obj/Debug/netstandard2.1/libPlugin.csproj.AssemblyReference.cache
plugins_csharp/libPlugin/obj/Debug/netstandard2.1/libPlugin.csproj.CoreCompileInputs.cache
plugins_csharp/libPlugin/obj/Debug/netstandard2.1/libPlugin.csproj.FileListAbsolute.txt
plugins_csharp/libPlugin/obj/Debug/netstandard2.1/libPlugin.dll
plugins_csharp/libPlugin/obj/Debug/netstandard2.1/libPlugin.pdb
plugins_csharp/libPlugin/obj/Debug/netstandard2.1/libPlugin.sourcelink.json
plugins_csharp/libPlugin/obj/libPlugin.csproj.nuget.dgspec.json
plugins_csharp/libPlugin/obj/libPlugin.csproj.nuget.g.props
plugins_csharp/libPlugin/obj/libPlugin.csproj.nuget.g.targets
plugins_csharp/libPlugin/obj/project.assets.json
plugins_csharp/libPlugin/obj/project.nuget.cache
plugins_csharp/.vs/libPlugin/v17/DocumentLayout.json
kv_1
protos/kv_csharp/Kv.cs
plugins_csharp/.vs/ProjectEvaluation/libplugin.metadata.v9.bin
plugins_csharp/.vs/ProjectEvaluation/libplugin.projects.v9.bin
plugins_csharp/.vs/ProjectEvaluation/libplugin.strings.v9.bin
plugins_csharp/.vs/libPlugin/v17/.futdcache.v2
